:root{
    --title-font: 'Bebas Neue', cursiva;
    --text-font: 'PT Sans', Sans-serif;
    --primary-color: #DAF7A6;
    --secundary-color: #FFC300;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Selector por etiqueta */
/* modificar el tamaño de fuente de la etiqueta <html> para 
utilizar las medidas Rem de la misma forma que los pixeles, así:
1rem = 10px
1.6rem = 16px
2rem = 20px
 */
html{
    font-size: 62.5%;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}
.container section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: var(--title-font);
    font-size: 6rem;
}
.subtitle{
    font-family: var(--title-font);
    font-size: 4rem;
}
p{
    font-family: var(--text-font);
    font-size: 2rem;
    text-align: center;
}