/* Selector por etiqueta */
/* modificar el tamaño de fuente de la etiqueta <html> para 
utilizar las medidas Rem de la misma forma que los pixeles, así:
1rem = 10px
1.6rem = 16px
2rem = 20px
 */
html{
    font-size: 62.5%;
}
p{
    color: red;
}
/* Clases */
.nombre_clase{
    color: red;
}

.titulo_1{
    color: blue;
}

.titulo_1::first-letter{
    color: aqua;
}
.font_sizeXL{
    font-size: 3.2rem;
}
/* ID */
#nombre_id{
    color: red;
}
.descripcion_sitio{
    color: blue;
}

.descripcion_sitio:hover{
    color: green;
}